
.page-main {
  width: 100vw !important;
}

.page-header {
  height: 60px;
  width: 100vw;
  padding: 10px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

.img-logo-menu {
  flex: 1;
}

.img-logo-menu img {
  flex: 1;
  width: 150px;
}

.list-menu {
  list-style: none;
  margin-top: 10px;
}

.list-menu li {
  display: inline;
  text-decoration: none;
  margin: 15px;
  color: #FFF;
}

.list-menu li a {
  text-decoration: none;
  color: #FFF;

  transition: color 0.2s;
}

.list-menu li a:hover {
  color: #92b1ff;
}

.apresentation {
  display: flex;
  justify-content: space-around;
  height: 540px;
  width: 100vw;
  padding: 30px;
}

.text-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.text-left h1 {
  font-size: 30pt;
  color: #3871FF;
}

.text-left p {
  color: #FFF;
  font-size: large;
}

.list-social {
  list-style: none;
  margin-top: 10px;
}

.list-social li {
  display: inline;
  text-decoration: none;
  margin-right: 15px;
  color: #3871FF;

  transition: color .3s;
}

.list-social li:hover {
  color: #2851b9;
}

.logo-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.logo-right img {
  flex: 1;
  width: 350px;
}

.img-arrow-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.img-arrow-down img {
  width: 40px;
}

.my-projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 80%;
  margin: auto;
}

.my-projects h1, h4 {
  color: #FFF;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 5%;
  padding: 3%;
}

.card-project {
  width: 250px;
  height: 320px;
  background: #FFF;
  padding: 0 10px 10px 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  margin: 10px;
}

.card-project p {
  font-size: 10pt;
}

.card-img {
  flex: 1;
  width: inherit;
  height: 150px;
}

.card-img img {
  width: inherit;
  height: inherit;
  border-radius: 4px 4px 0 0;
}

.card-footer {
  margin-top: 15px;
  padding: 15px 20px;
}

.btn-view-code {
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
  color: #3871FF;
  border: 1px #3871FF solid;
  background: #FFF;
  cursor: pointer;

  transition: background-color 0.4s;
}

.btn-view-code:hover {
  background: #3871FF;
  color: #FFF;
}

.about-me {
  min-height: 700px;
  background: linear-gradient(0.28deg, #2261FF 0.26%, rgba(66, 120, 255, 0) 99.78%);
  padding: 50px;
}

.about-me h1 {
  color: #FFF;
  text-align: center;
  margin-bottom: 20px;
}

.area-about-me {
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.text-about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-right: 20px;
  color: #FFF;
  font-size: 18pt;
}

.img-about-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;

  height: 400px;
  width: 300px;
}

.img-about-me img {
  height: inherit;
  width: inherit;
}

.img-about-me img:nth-child(2) {
  display: none;
}

.area-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.btn-view-curriculum {
  margin: auto;
  padding: 10px 15px;
  border-radius: 4px;
  background: #273244;
  color: #FFF;
  border: none;
  outline: none;
  cursor: pointer;

  transition: background .3s;
}


.btn-view-curriculum:hover {
  background: #1c2431;
}


.technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 550px;
  min-height: 600px;

  background: #FFF;
  color: #273244;
  padding-top: 40px;
}

.technologies h1 {
  margin-bottom: 20px;
}

.images-techs {
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-top: 20px;
}

.bg-techs-web {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.bg-techs-mobile {
  display: none;
}

.info-mobile {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.footer p {
  color: #FFF;
  font-size: small;
}

.img-footer {
  max-width: 100px;
  margin: 20px;
}

@media (max-width: 414px) {
  .page-header {
    display: none;
  }

  .apresentation {
    justify-content: center;
    flex-direction: column-reverse;
    height: 600px;
  }

  .apresentation h1:nth-child(2) {
    font-size: 18pt;
    color: #FFF;
  }

  .text-left {
    align-items: center;
  }

  .text-left p {
    display: none;
  }

  .logo-right {
    align-items: center;
  }

  .logo-right img {
    width: 230px;
  }

  .my-projects {
    display: none;
  }

  .about-me {
    padding: 20px;
  }

  .about-me h1 {
    margin-bottom: 0;
  }

  .area-about-me {
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 10px;
    width: 90%;
  }

  .img-about-me {
    height: auto;
    align-items: center;
  }

  .img-about-me img:nth-child(1) {
    display: none;
  }

  .img-about-me img:nth-child(2) {
    display: block;
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .text-about-me {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .area-btn {
    display: none;
  }

  .technologies {
    padding-top: 0;
    min-height: 480px;
    text-align: center;
  }

  .technologies h1 {
    margin: 20px;
    font-size: 18pt;
  }

  .bg-techs-web {
    display: none;
  }

  .bg-techs-mobile {
    display: block;
  }

  .info-mobile {
    display: block;
    color: #FFF;
    text-align: center;
    height: 250px;
    padding: 20px;
    margin-top: 20px;
    font-size: 15pt;
  }

  .info-mobile p:nth-child(2) {
    margin-top: 5px;
  }
}
