@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Varela&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #273244;
  height: 100vh;
  width: 100vw;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Varela', sans-serif;
}

.page-header {
  height: 60px;
  width: 100vw;
  padding: 10px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

.img-logo-menu {
  flex: 1;
}

.img-logo-menu img {
  flex: 1;
  width: 150px;
}

.list-menu {
  list-style: none;
  margin-top: 10px;
}

.list-menu li {
  display: inline;
  text-decoration: none;
  margin: 15px;
  color: #FFF;
}

.list-menu li a {
  text-decoration: none;
  color: #FFF;

  transition: color 0.2s;
}

.list-menu li a:hover {
  color: #92b1ff;
}

.apresentation {
  display: flex;
  justify-content: space-around;
  height: 540px;
  width: 100vw;
  padding: 30px;
}

.text-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.text-left h1 {
  font-size: 30pt;
  color: #3871FF;
}

.text-left p {
  color: #FFF;
  font-size: large;
}

.list-social {
  list-style: none;
  margin-top: 10px;
}

.list-social li {
  display: inline;
  text-decoration: none;
  margin-right: 15px;
  color: #3871FF;
}

.logo-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.logo-right img {
  flex: 1;
  width: 350px;
}

.img-arrow-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.img-arrow-down img {
  width: 40px;
}

.my-projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 80%;
  margin: auto;
}

.my-projects h1, h4 {
  color: #FFF;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 5%;
  padding: 3%;
}

.card-project {
  width: 250px;
  height: 300px;
  background: #FFF;
  padding: 0 10px 10px 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  margin: 10px;
}

.card-img {
  flex: 1;
  width: inherit;
  height: 150px;
}

.card-img img {
  width: inherit;
  height: inherit;
  border-radius: 4px 4px 0 0;
}

.card-footer {
  margin-top: 15px;
  padding: 15px 20px;
}

.btn-view-code {
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
  color: #3871FF;
  border: 1px #3871FF solid;
  background: #FFF;
  cursor: pointer;

  transition: background-color 0.4s;
}

.btn-view-code:hover {
  background: #3871FF;
  color: #FFF;
}

.about-me {
  min-height: 700px;
  background: #3871FF;
  padding: 50px;
}

.about-me h1 {
  color: #FFF;
  text-align: center;
  margin-bottom: 20px;
}

.area-about-me {
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.text-about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-right: 20px;
  color: #FFF;
}

.img-about-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;

  height: 400px;
  width: 300px;
}

.img-about-me img {
  height: inherit;
  width: inherit;
}

.area-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.btn-view-curriculum {
  margin: auto;
  padding: 10px 15px;
  border-radius: 4px;
  background: #273244;
  color: #FFF;
  border: none;
  outline: none;
  cursor: pointer;

  transition: background .3s;
}


.btn-view-curriculum:hover {
  background: #1c2431;
}


.technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 500px;
  min-height: 550px;

  background: #FFF;
  color: #273244;
  padding-top: 40px;
}

.images-techs {
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}

.list-techs-1 {
  flex: 1;
  list-style: none;
  width: max-content;
  margin: auto;
}

.list-techs-1 li {
  display: inline;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.list-techs-1 li img {
  width: 60px;
  margin: 30px 40px;
}

.list-techs-2 {
  flex: 1;
  list-style: none;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin: auto;
}

.list-techs-2 li {
  display: inline;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.list-techs-2 li img {
  width: 60px;
  margin: 30px 60px;
}

.list-techs-3 {
  flex: 1;
  list-style: none;
  width: max-content;
  margin: auto;
}

.list-techs-3 li {
  display: inline;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.list-techs-3 li img {
  width: 60px;
  margin: 30px 40px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.footer p {
  color: #FFF;
  font-size: small;
}

.img-footer {
  max-width: 100px;
  margin: 20px;
}

